.blog-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 49px;
  }
  
  .blog-list li {
    max-width: 380px;
    margin-right: 20px;
  }
  
  
  .blog-list-pic1 {
    background-color: #607076;
  }
  
  .blog-list-pic2 {
    background-color: #CFBDAA;
  }
  
  .blog-list-pic3 {
    background-color: #DFE4EA;
  }
  
  .blog-list-pic4 {
    background-color: #3C77BF;
  }
  
  .blog-list-pic5 {
    background-color: #F3F3F3;
  }
  
  .blog-list-pic6 {
    background-color: #594F38;
  }
  
  