.stars {
    display: flex;
    width: 98px;
    flex-direction: row-reverse;
    position: relative;
    height: 20px;
}

.svg1, .svg2, .svg3, .svg4, .svg5 {
    margin-right: -1px;
}

.svg5 {
    margin-right: 0;
}

#star-1, #star-2, #star-3, #star-4, #star-5 {
    display: none;
}

.stars:not(:checked) > label {
	fill: #FFF;
    cursor: pointer;
}

.stars > input:checked ~ label {
    fill: #C29974
}

.stars > label {
    padding-right: 3px;
}

.stars > input:checked + label:hover,
.stars > input:checked + label:hover ~ label,
.stars > input:checked ~ label:hover,
.stars > input:checked ~ label:hover ~ label,
.stars > label:hover ~ input:checked ~ label {
	fill: #836E5B;
}

.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
	fill: #836E5B;
}

.rating-title {
    position: absolute;
    top: -20px;
    left: -150px;
}

.stars:hover > .rating-title {
    color: #C29974;
    cursor: pointer;
}

// .stars > input:checked ~ .rating-title {
//     color: green;
// }

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
