@mixin font($font-size:16px, $line-height:22px, $font-weight:400) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight
}

%psevdo {
  content: '';
  display: block;
  position: absolute;
}

