<footer class="footer">
  <div class="footer-upper-part container">
      <div class="footer-column">
          <p class="footer-title">Navigation</p>
          <ul class="undotted footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Design Services</a></li>
              <li><a href="#">Featured On</a></li>
              <li><a href="#">2018 Holiday Catalog</a></li>
              <li><a href="#">Shop By Designer</a></li>
          </ul>
      </div>
      <div class="footer-column">
          <p class="footer-title">Customer Information</p>
          <ul class="undotted footer-links">
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Sale Exclusions</a></li>
              <li><a href="#">Shipping & Returns</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Search</a></li>
          </ul>
      </div>
      <div class="footer-column">
          <p class="footer-title">Connect</p>
          <form class="footer-form" action="#">
              <input type="email" placeholder="Email">
              <button class="link-button">JOIN</button>
          </form>
              <div class="social-line">
                  <a href="#"><img src="img/social-media/facebook.svg" alt="Facebook" width="30" height="30"></a>
                  <a href="#"><img src="img/social-media/twitter.svg" alt="Twitter" width="30" height="30"></a>
                  <a href="#"><img src="img/social-media/pinterest.svg" alt="Pinterest" width="30" height="30"></a>
                  <a href="#"><img src="img/social-media/instagram.svg" alt="Instagram" width="30" height="30"></a>
              </div>
      </div>
  </div>
  <div class="footer-bottom container">
      <p class="footer-bottom-line">Company Rating</p>
      <p class="footer-bottom-line">Copyright © 2018 Dlk • Design Life Kids</p>
      <a href="https://directline.digital/" class="footer-bottom-line">Web Design — Direct Line Development</a>
  </div>
</footer>