<footer class="footer">
  <div class="footer__upper-part container">
      <div class="column">
          <p class="column__title">Navigation</p>
          <ul class="undotted column__links">
              <li class="li1"><a href="#">About Us</a></li>
              <li class="li2"><a href="#">Blog</a></li>
              <li class="li3"><a href="#">Design Services</a></li>
              <li class="li4"><a href="#">Featured On</a></li>
              <li class="li5"><a href="#">2018 Holiday Catalog</a></li>
              <li class="li6"><a href="#">Shop By Designer</a></li>
          </ul>
      </div>
      <div class="column">
          <p class="column__title">Customer Information</p>
          <ul class="undotted column__links">
              <li class="li1"><a href="#">Contact Us</a></li>
              <li class="li2"><a href="#">Sale Exclusions</a></li>
              <li class="li3"><a href="#">Shipping & Returns</a></li>
              <li class="li4"><a href="#">Terms & Conditions</a></li>
              <li class="li5"><a href="#">Privacy Policy</a></li>
              <li class="li6"><a href="#">Search</a></li>
          </ul>
      </div>
      <div class="column">
          <p class="column__title">Connect</p>
          <form class="footer-form" action="#">
              <input type="email" placeholder="Email">
              <button class="link-button">JOIN</button>
          </form>
              <div class="social-line">
                  <a href="#"><img src="img/social-media/facebook.svg" alt="Facebook"></a>
                  <a href="#"><img src="img/social-media/twitter.svg" alt="Twitter"></a>
                  <a href="#"><img src="img/social-media/pinterest.svg" alt="Pinterest"></a>
                  <a href="#"><img src="img/social-media/instagram.svg" alt="Instagram"></a>
              </div>
      </div>
  </div>
  <div class="footer__bottom container">
      @@include('blocks/stars.html')
      <p class="footer__bottom-line copyright">Copyright © 2018 Dlk • Design Life Kids</p>
      <a href="https://directline.digital/" class="footer__bottom-line">Web Design — Direct Line Development</a>
  </div>
</footer>