<header class="header container mobile-container">
    <a href="/">
        <img src="img/logo.svg" class="header__logo" alt="logo" width="100" height="52">
    </a>
    <nav class="header__menu">
        <ul class="undotted header__list">
            <li>
                <a href="blog.html">Blog</a>
            </li>
            <li>
                <a href="catalog.html">Catalog</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="animation.html">Animation</a>
            </li>
        </ul>
    </nav>
    <div class="mobile-menu">
        <span>MENU</span> 
    </div>
    <a class="header__search" href=""><img src="img/search.svg" class="header__search_svg" alt="search"></a>
    <a href="contact.html" class="header__contact-link">Contact  Us</a>
</header>

<header class="mobile-header">
    <div class="mobile-header__wrapper">
        <div class="mobile-header__top">
            <a href="/">
                <img src="img/logo.svg" alt="logo" width="100" height="52">
            </a>
            <div class="mobile-header__close">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.707105 0L0 0.707105L7.07111 7.77821L4.6869e-05 14.8493L0.707151 15.5564L7.77821 8.48532L14.8492 15.5563L15.5563 14.8492L8.48532 7.77821L15.5563 0.707178L14.8492 7.33696e-05L7.77821 7.07111L0.707105 0Z" fill="#1E0606"/>
                    </svg>                
            </div>
            <a class="header__search" href=""><img src="img/search.svg" alt="search"></a>
        </div>
        <nav class="mobile-header__menu">
            <ul class="undotted mobile-header__list">
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="catalog.html">Catalog</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="animation.html">Animation</a>
                </li>
            </ul>
        </nav>
        <a href="contact.html" class="header__contact-link">Contact  Us</a>

    </div>

</header>