<div class="stars">
    <p class="footer__bottom-line rating-title">Company Rating</p>
	<input type="radio" id="star-5" name="rating" value="5">
	<label for="star-5" title="5">    
        <svg class="svg1" width="17" height="16" viewBox="0 0 17 16">
            <path d="M 5.61 0.93
                    L 4.54 4.22 1.08 4.22,
                    C 0.11 4.22 -0.29 5.46 0.49 6.03,
                    L 3.29 8.06 2.22 11.35,
                    C 1.92 12.28 2.98 13.04 3.76 12.47,
                    L 6.56 10.44 9.36 12.47,
                    C 10.14 13.04 11.2 12.28 10.9 11.35,
                    L 9.83 8.06 12.63 6.03,
                    C 13.41 5.46 13.01 4.22 12.04 4.22,
                    L 8.58 4.22 7.51 0.93,
                    C 7.21 0.01 5.91 0.01 5.61 0.93, 
            "/>
        </svg>
    </label>	
	<input type="radio" id="star-4" name="rating" value="4">
	<label for="star-4" title="4">
        <svg class="svg2" width="17" height="16" viewBox="0 0 17 16">
            <path d="M 5.61 0.93
                    L 4.54 4.22 1.08 4.22,
                    C 0.11 4.22 -0.29 5.46 0.49 6.03,
                    L 3.29 8.06 2.22 11.35,
                    C 1.92 12.28 2.98 13.04 3.76 12.47,
                    L 6.56 10.44 9.36 12.47,
                    C 10.14 13.04 11.2 12.28 10.9 11.35,
                    L 9.83 8.06 12.63 6.03,
                    C 13.41 5.46 13.01 4.22 12.04 4.22,
                    L 8.58 4.22 7.51 0.93,
                    C 7.21 0.01 5.91 0.01 5.61 0.93, 
            "/>
        </svg>
    </label>    
	<input type="radio" id="star-3" name="rating" value="3">
	<label for="star-3" title="3">
        <svg class="svg3" width="17" height="16" viewBox="0 0 17 16">
            <path d="M 5.61 0.93
                    L 4.54 4.22 1.08 4.22,
                    C 0.11 4.22 -0.29 5.46 0.49 6.03,
                    L 3.29 8.06 2.22 11.35,
                    C 1.92 12.28 2.98 13.04 3.76 12.47,
                    L 6.56 10.44 9.36 12.47,
                    C 10.14 13.04 11.2 12.28 10.9 11.35,
                    L 9.83 8.06 12.63 6.03,
                    C 13.41 5.46 13.01 4.22 12.04 4.22,
                    L 8.58 4.22 7.51 0.93,
                    C 7.21 0.01 5.91 0.01 5.61 0.93, 
            "/>
        </svg>
    </label>  
	<input type="radio" id="star-2" name="rating" value="2">
	<label for="star-2" title="2">
        <svg class="svg4" width="17" height="16" viewBox="0 0 17 16">
            <path d="M 5.61 0.93
                    L 4.54 4.22 1.08 4.22,
                    C 0.11 4.22 -0.29 5.46 0.49 6.03,
                    L 3.29 8.06 2.22 11.35,
                    C 1.92 12.28 2.98 13.04 3.76 12.47,
                    L 6.56 10.44 9.36 12.47,
                    C 10.14 13.04 11.2 12.28 10.9 11.35,
                    L 9.83 8.06 12.63 6.03,
                    C 13.41 5.46 13.01 4.22 12.04 4.22,
                    L 8.58 4.22 7.51 0.93,
                    C 7.21 0.01 5.91 0.01 5.61 0.93, 
            "/>
        </svg>
    </label>    
	<input type="radio" id="star-1" name="rating" value="1">
	<label for="star-1" title="1">
        <svg class="svg5" width="17" height="16" viewBox="0 0 17 16">
            <path d="M 5.61 0.93
                    L 4.54 4.22 1.08 4.22,
                    C 0.11 4.22 -0.29 5.46 0.49 6.03,
                    L 3.29 8.06 2.22 11.35,
                    C 1.92 12.28 2.98 13.04 3.76 12.47,
                    L 6.56 10.44 9.36 12.47,
                    C 10.14 13.04 11.2 12.28 10.9 11.35,
                    L 9.83 8.06 12.63 6.03,
                    C 13.41 5.46 13.01 4.22 12.04 4.22,
                    L 8.58 4.22 7.51 0.93,
                    C 7.21 0.01 5.91 0.01 5.61 0.93, 
            "/>
        </svg>
    </label>
</div>

